.flexContainer  {
    display: flex;
}
.heroSection    {
    height: 200px;
    padding: 0px 10px 0px 0px;
    margin: 0 auto;
    grid-area: "heroSection"
}
.heroImg    {
    display: flex;
    height: 200px;
    padding: 0px 25px 0px 0px;
    margin: 0 auto;
}
.content    {
    display: flex;
    grid-area: content;
    padding-bottom: 50px;
    font-size: 18px;
}


@media only screen and (max-width: 600px) {
    .aboutGrid  {
        display: grid;
        max-width: 100%;
        justify-content:start;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
        grid-template-areas: 
        "heroSection"
        "content"
        "resume"
    }
    .heroSection    {
        grid-area: "heroSection"
    }
    .content    {
        grid-area: content;
        max-width: 100%;
        padding: 15px 0px 0px 0px
    }
    .resume {
        display: grid;
        grid-area: "resume";
        justify-content: center;
        padding: 0px;
        width: 100%;
        padding-bottom: 50px;
    }
    .allContent {
        max-width: 100%;
        padding: 0px 0px 0px 0px;
    }
    
}