.center   {
    display: flex;
    justify-content: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #0F1626;
}
.flexcontainer  {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-items: center;
    max-width: 700px;
    padding-bottom: 70px;
}
.skill1 {
    width: 40%;
    padding:0px 20px 0px 20px;
    background-color: #f3f3f3;
    border-radius: 5px;
    min-height: 425px;
    box-shadow: 3px 3px 3px #e6e6e6;
}
.title  {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.subTitle   {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 25px;
    text-align: center;
}
.placeholder    {
    display: flex;
    padding: 15px 0px 15px 0px;
    max-width: 40%;
    margin-right: auto;
    margin-left: auto;
}
.icon    {
 width: 250px;
}
.bodyContent    {
    font-size: 14px;
}