.center   {
    display: flex;
    justify-content: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #0F1626;
}
.flexcontainer  {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-bottom: 70px;
    max-width: 690px;
}
.placeholder    {
    display: flex;
    width: 100%;
    height: auto;
    justify-content: flex-end;
    margin-top: 30px;
    flex-basis: 50%;
}
.skill1 {
    display: flex;
    flex-basis: 50%;
    flex-wrap: wrap;
    max-width: 70%;
    margin-top: 0px;
    justify-content: flex-start;
}
.subTitle   {
    margin: 90px 10px 0px 0px;
    font-size: 34px;
}
.bodyContent    {
    font-size: 20px;
    margin: 0px 0px 0px 0px;
}
