
.flexcontainer  {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-bottom: 15vh;
    margin-left: auto;
    margin-right: auto;
    max-width: 45%;
    min-width: 800px;
    justify-content: left;
}
.illustration    {
    display: block;
    flex-basis: 50%;
    max-width: 100%;
    height: auto;
    justify-content: flex-end;
    margin-top: 40px;
}
* {
    box-sizing: border-box;
  }
  
.homeGrid {
  padding-top: 100px;
  height: 100%;
}
  .wrapper {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 12vh;
    max-width: 800px;
    margin-right: auto;
    margin-left: auto;
    flex-wrap:wrap;
    gap: 40px;
  }
  
  .card {
    width: 30%;
    height: 300px;
    border-radius: 15px;
    padding: 1.5rem;
    background: white;
    position: relative;
    display: flex;
    align-items: flex-end;
    transition: 0.4s ease-out;
    box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.2);
  }
  .card:hover {
    transform: translateY(20px);
  }
  .card:hover:before {
    opacity: 1;
  }
  .card:hover .info {
    opacity: 1;
    transform: translateY(0px);
  }
  .card:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    background: rgba(0, 0, 0, 0.6);
    z-index: 2;
    transition: 0.5s;
    opacity: 0;
  }
  .card img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 15px;
  }
  .card:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    background: rgba(0, 0, 0, 0.6);
    z-index: 2;
    transition: 0.5s;
    opacity: 0;
  }
  .card .info {
    position: relative;
    z-index: 3;
    color: white;
    opacity: 0;
    transform: translateY(30px);
    transition: 0.5s;
  }
  .card .info .h1 {
    margin: 0px;
  }
  .card .info p {
    letter-spacing: 1px;
    font-size: 15px;
    margin-top: 8px;
  }
  .card .info button {
    padding: 0.6rem;
    outline: none;
    border: none;
    border-radius: 3px;
    background: white;
    color: black;
    font-weight: bold;
    cursor: pointer;
    transition: 0.4s ease;
  }
  .heading button {
    display: inline;
    background-color:#18233E;
    border-color:#18233E;
    border-radius: 5px;
    border-width: 2px;
    border-style: solid;
    border-radius: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    padding: 9px;
    width: 100%;
    cursor: pointer;
    box-shadow: 3px 3px 3px #cecece;
    margin: 20px 0px 20px 0px;
    text-decoration: underline;
    text-decoration-color: #18233e;
    transition: 0.4s ease;
    text-decoration: none;
    font-size: 1em;
  }
  .card .info button:hover {
    background: #18233E;
    color: white;
  }
  .heading button:hover {
    background: white;
    color: #18233E;
    text-decoration: none;
  }
        
.heading {
    display: flex;
    flex-basis: 50%;
    flex-wrap: wrap;
    max-width: 70%;
    margin-top: 15%;
    justify-content: flex-start;
}

.bodyContent    {
    font-size: 20px;
    margin: 0px 0px 0px 0px;
    text-align: left;
}
.cardBottom {
    display: none;
}

.h2 {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;

}


@media only screen and (max-width: 1024px) {
    
    
    html {
        position: relative;
        min-height: 100%;
    }
    .center   {
        display: grid;
        justify-items: center;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color: #0F1626;
    }
    .flexcontainer  {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        flex-basis: 50%;
        padding-bottom: 70px;
        max-width: 80%;
        min-width: 80%;
        padding: 0px 0px 0px 0px;
        justify-content: left;
    }
    .heading {
        display: flex;
        flex-wrap: wrap;
        max-width: 100%;
        margin-top: 15%;
        flex-basis: 50%;
        justify-content: flex-start;
        margin-bottom: 15%;
    }
    .heading button {
        font-size: .9em;
    }
    
    .skill1 {
        margin-top: 20px;
    }

    .illustration    {
        display: flex;
        margin-top: 0px;
        max-width: 90%;
        height: auto;
        flex-basis: 50%;
        }
    #myBtn {
        visibility: hidden;
    }
    .bodyContent    {
        font-size: 20px;
        margin: 10px 0px 0px 0px;
    }

    .wrapper {
        display: flex;
        flex-wrap: wrap;
        max-width: 80%;
        justify-content: center;

      }
      
      .card {
        width: 46%;
        height: 400px;
        border-radius: 15px;
        padding: 1.5rem;
        margin-bottom: 1.5rem;
        background: white;
        position: relative;
        display: flex;
        align-items: flex-end;
        transition: 0.4s ease-out;
        box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.2);
      }
      .card:hover {
        transform: translateY(0px);
      }
      .h2   {
        max-width: 78%;

      }
}

@media only screen and (max-width: 600px) {
    
    html {
        position: relative;
        min-height: 100%;
    }
    .center   {
        display: grid;
        justify-items: center;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color: #0F1626;
    }
    .flexcontainer  {
        display: grid;
        flex-direction: row;
        flex-wrap: wrap;
        padding-bottom: 70px;
        max-width: 70%;
        padding: 0px 0px 0px 0px;
        justify-content: left;

    }
    .homeGrid   {
        display: grid;
        padding: 0px 0px 0px 0px;
        justify-content: center;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas: 
        "skill1" 
        "standardButton"
        "secondaryButton"
        "illustration"
        }
    .skill1 {
        margin-top: 20px;
    }
    .subTitle   {
            margin: 0px 10px 0px 0px;
            font-size: 27px;
        }

    .illustration    {
            display: block;
            margin-left: auto;
            margin-right: auto;
            margin-top: 0px;
            margin-bottom: 30px;
            padding-right: 10px;
            max-width: 100%;
            height: auto;
        }
    #myBtn {
        visibility: hidden;
    }
    .bodyContent    {
        font-size: 20px;
        margin: 10px 0px 0px 0px;
    }

    * {
        box-sizing: border-box;
      }
      
      .wrapper {
        display: flex;
        justify-content: space-between;
        margin-bottom: 12vh;
        max-width: 75%;
        margin-right: auto;
        margin-left: auto;
        flex-wrap:wrap;
        gap: 0px;
      }
      .info .h2  {
        display:none
    }
      .info p  {
        display:none
    }
  
      .card {
        width: 100%;
        height: 335px;
        border-radius: 15px 15px 0px 0px;
        padding: 1.5rem;
        position: relative;
        display: flex;
        align-items: flex-end;
        transition: 0.4s ease-out;
        margin-bottom: 0px;
        box-shadow: none;
      }
      .card:hover {
        transform: translateY(0px);
      }

      .card:before {
        background: rgba(0, 0, 0, 0.0);
      }
      .card img {
        width: 100%;
        height: 100%;
        -o-object-fit: fill;
           object-fit: cover;
        position: absolute;
        bottom: 0%;
        left: 0;
        border-radius: 15px 15px 0px 0px;
      }
      .card .info {
        position: relative;
        z-index: 3;
        color: white;
        opacity: 1;
      }
        .cardBottom {
            display: block;
            flex-wrap: wrap;
            background: rgba(255, 83, 61);
            height: 100%;
            width: 100%;
            border-radius: 0px 0px 15px 15px;
            margin-bottom: 40px;
            box-shadow: 0px 7px 10px rgb(0 0 0 / 20%);
            overflow: auto;
        }
        .cardBottom .h2 {
            display: flex;
            padding: 15px 0px 0px 20px;
            margin: 0px;
            max-width: 90%;
        }
      .card .info .h2 {
        margin-bottom: 10px;
      }
      .card .info  {
        letter-spacing: 1px;
        font-size: 15px;
        margin-top: 0px;
      }
      .card .info button {
        display: none;
      }
      button {
        padding: 0.6rem;
        outline: none;
        border: none;
        border-radius: 3px;
        background: #18233E;
        color: white;
        font-weight: bold;
        cursor: pointer;
        transition: 0.4s ease;
        margin: 10px 0px 20px 20px;
      }   

     
}
      
