
     html {
        position: relative;
        min-height: 100%;
    }
     body    {
        margin: 0px;
        padding: 0px;
        min-height: 100%;
        height: 100%;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    .inline-block   {
        display: inline-block;
        vertical-align: top;
        letter-spacing: 1px;
        padding: 0px 10px 0px 30px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        border-bottom: 4px solid transparent;
        text-decoration: none;
    }
    .logo   {
        width: 15%;
        padding: 0px 55px 0px 0px;
        border-bottom: transparent;
        text-decoration: none;
        cursor: pointer;
    }
    .navigation    {
        display: flex;
        justify-content: center;
        align-content: center;
        width: 100%;
        margin-top: 30px;
        text-decoration: none;
    }
    .inline-block a:hover {
        border-bottom: 4px solid #FF533D;
    }
      .inline-block a.active {
        border-bottom: 4px solid #FF533D;
    }
    .ul  {
        display: flex;
        align-content: center;
        justify-content: center;
        color: #0F1626;
        text-decoration: none;
    }

    .footer {
        background-color: #FF533D;
        position : absolute;
        bottom : 0;
        height : 50px;
        width: 100%;
        margin: 0%;
        overflow: hidden;
    }
    .active   {
        text-decoration: none;
        color: #0F1626 !important
    }
    .hover   {
        text-decoration: none;
        color: #0F1626 !important
    }
    h1  {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 25px;
        text-align: center;
    }
    .linkstyle  {
        text-decoration: none;
        color: #0F1626 !important; 
        cursor: pointer;
    }
    .standardButton {
        display: inline;
        background-color:#18233E;
        border-color:#18233E;
        border-radius: 5px;
        border-width: 2px;
        border-style: solid;
        border-radius: 5px;
        color: white;
        padding: 7px;
        width: 120px;
        cursor: pointer;
        box-shadow: 3px 3px 3px #cecece;
        margin-bottom: 80px;
        text-decoration: underline;
        text-decoration-color: #18233e;
    }
    .secondaryButton {
        border-color:#18233E;
        border-radius: 5px;
        border-width: 2px;
        border-style: solid;
        color: #18233e;
        padding: 7px 11px 7px 11px;
        cursor: pointer;
        box-shadow: 3px 3px 3px #cecece;
        margin-bottom: 80px;
        text-decoration: underline;
        text-decoration-color: white;
    }
        #menuToggle {
        display: none;
    }
         #menu   {
         display: none;
    } 
    #myBtn {
      display: none;
      position: fixed;
      bottom: 75px;
      right: 323px;
      background-image: url("../images/chevron-up-solid.png");
      background-position: center;
      background-repeat: no-repeat;
      background-size: 70%;
      background-color: transparent;
      width: 50px;
      z-index: 99;
      font-size: 15px;
      border: none;
      outline: none;
      color: #18233E;
      cursor: pointer;
      padding: 10px;
      border-radius: 5px;
    }
    @media only screen and (max-width: 600px) {

        .navigation    {
            display: grid;
            justify-content: right;
            padding: 0px 30px 0px 0px;
            margin-top: 0px;
        }
        .inline-block   {
            display: grid;
            vertical-align: top;
            padding: 0px 30px 0px 0px;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            max-height: 60px;
        }
        .logo   {
            visibility: block;
            width: 15%;
            align-content: start;
            justify-content: start;
            padding: 0px 0px 0px 0px;
            border-bottom: none;
            text-decoration: none;
        }
        .topMenu {
            display: none;
        }
        .standardButton {
            display: inline-block;
            background-color:#18233E;
            border-color:#18233E;
            border-radius: 5px;
            border-width: 2px;
            border-style: solid;
            border-radius: 5px;
            color: white;
            padding: 7px;
            width: 50%;
            cursor: pointer;
            box-shadow: 3px 3px 3px #cecece;
            margin-bottom: 80px;
            text-decoration: underline;
            text-decoration-color: #18233e;
        }
        .secondaryButton {
            display: block;
            border-color:#18233E;
            border-radius: 5px;
            border-width: 2px;
            border-style: solid;
            color: #18233e;
            padding: 7px 11px 7px 11px;
            cursor: pointer;
            box-shadow: 3px 3px 3px #cecece;
            margin-bottom: 80px;
            text-decoration: underline;
            text-decoration-color: white;
        }
        .inline-block.logo{
            display: block;
            padding: 0px 30px 10px 0px;
        }


body
{
  margin: 0;
  padding: 0;
  background: #ffffff;
  color: #0F1626;
  font-family: "Avenir Next", "Avenir", sans-serif;
}

#menuToggle
{
  display: block;
  position: relative;
  top: 50px;
  left: 50px;
  
  z-index: 1;
  
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle a
{
  text-decoration: none;
  color: #232323;
  display: block;
  transition: color 0.3s ease;
}

#menuToggle a:hover
{
  color: #FF533D;
}


#menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  
  cursor: pointer;
  
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */
  
  -webkit-touch-callout: none;
}

/*
 * Just a quick hamburger
 */
#menuToggle span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  
  background: #0F1626;
  border-radius: 3px;
  
  z-index: 1;
  
  transform-origin: 4px 0px;
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

/* 
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #FF533D;
}

/*
 * But let's hide the middle one.
 */
#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * Ohyeah and the last one should go the other direction
 */
#menuToggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);
}

/*
 * Make this absolute positioned
 * at the top left of the screen
 */
#menu
{
  position: absolute;
  width: 300px;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;
  display: block;
  background: #ededed;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */
  
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li
{
  padding: 10px 0;
  font-size: 22px;
}

/*
 * And let's slide it in from the left
 */
#menuToggle input:checked ~ ul
{
  transform: none;
}
    }