.container  {
    max-width: 800px;
    display: flex;
    justify-content: center;

}
.heading1  {
    text-align: left;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
    color: #0F1626;
    margin-bottom: 5px;
    margin-top: 0px;
}
.heading2   {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 25px;
    text-align: left;
    color: #0F1626;
}
  
.heading   {
    font-size: 50px;
    line-height: 60px;
}
.summary    {
    height: auto;
    margin: 10px 0px 0px 0px;
    overflow: auto;
}
.summary .bodyText   {
    font-size: 18px;
    line-height: 28px;
    vertical-align: top;
    font-style: italic;
    color: rgb(53, 53, 53);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.5;
}
.bodyText   {
    font-size: 18px;
    line-height: 28px;
    vertical-align: top;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.hero   {
    max-width: 90%;
    margin-left: 20px;
    margin-top: 15px;
    margin-bottom: 50px;
}

.image  {
    display: flex;
    max-width: 90%;
    margin: auto;
    padding-bottom: 50px;
}

.designProcess  {
    max-width: 800px;
}
.row    {
    max-width: 800px;
    padding-left: 0px
}

.sectionHeading {
    display: flex;
    justify-content: flex-start;
    padding-left: 15px;
}
.narrow {
    margin-top: 0px;
    max-width: 800px;
}

.sectionAnchor  {
    font-size: 14px;
    text-align: center;
    padding-top: 20px;
    font-weight: bold;
}
.card-img-top   {
    max-width: 100%;
}
.card   {
    border: none;
    max-width: 100%;
}

.dropdown   {
    display: none;
}

@media only screen and (max-width: 600px) {
    .heading1  {
        text-align: left;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 30px;
        color: #0F1626;
        margin-bottom: 0px;
        margin-top: 0px;
        padding-left: 15px;
    }
    .heading2   {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 25px;
        text-align: left;
        color: #0F1626;
        padding: 0px 15px 0px 15px
    }
    .bodyText   {
        font-size: 17px;
        line-height: 28px;
        vertical-align: top;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        padding: 0px 15px 0px 15px
    }
    .dropdown   {
        display: flex;
        width: 100%;
        padding-bottom: 50px;
    }
}