.container  {
    max-width: 675px;
    display: flex;
    justify-content: center;

}
.heading   {
    font-size: 50px;
    line-height: 60px;
}
.bodyText   {
    font-size: 17px;
    line-height: 28px;
    vertical-align: top;
}
.rightBody   {
    font-size: 17px;
    line-height: 28px;
    margin-left: 30px;
}
.hero   {
    max-width: 80%;
    margin-left: 30px;
    margin-top: 15px;
}
.tagline    {
    font-weight: bold;
    line-height: 10px;
    font-size: 25px;
    padding: 0%;

}
.designProcess  {
    max-width: 675px;
}
.row    {
    margin-top: 100px;
    max-width: 675px;
}
.researchImg    {
    max-width: 90%;
    display: flex;
    justify-content: center;
}
.sectionHeading {
    display: flex;
    justify-content: flex-start;
    padding-left: 15px;
}
.narrow {
    margin-top: 0px;
    max-width: 675px;
}

.sectionAnchor  {
    font-size: 14px;
    text-align: center;
    padding-top: 20px;
    font-weight: bold;
}
.card-img-top   {
    max-width: 100%;
}
.card   {
    border: none;
}

 